* {
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    min-height: 10000px;
}

.navbar {
    position:sticky;
    top: 0px;
    z-index: 1;
    background-color: black;
    color:white;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navbar ul li {
    font-family: Merriweather, sans-serif;
    padding: 10px;
}

.navbarLink {
    color: white;
    text-decoration: none;
}

.navbarLink:hover {
    color: cyan;
}

.content h1 {
    display: flex;
    font-family: Rubik, sans-serif;
}